.Drawer {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: transparent;

}
.Logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding-left: 1rem;
    padding-top: 1rem;
    color: #E05E5C;
}