.Content {
    background-color: transparent;
    padding: unset !important;
    height: 100%;
}

.Content__Right {
    background-color: white;
    margin-left: 250px;
    text-align: left;
    padding-left: 7rem;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

.Box-Text {
    line-height: 90px;
    margin-left: -200px;
}


.Text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    /* identical to box height */


    color: #999999;
}

.Text2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;

    /* identical to box height */


    color: #999999;
}

.text2-1 {
    color: #E05E5C;
}

.Text3 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    /* identical to box height */


    color: #E05E5C;
}

.GridContainer{
    width: 100%;
    height: 100%;
    margin-left: -200px;
}

.GambarVector {
    width: 500px;
    height: 500px;
}

