.Tittle {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 140px;
    color: #656565;
    padding-top:101px;
}

.SubTittle {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
    color: #656565;
}

.TableContainer {
    width: 90% !important;
    margin: 1rem auto;
}

.Header_No {
    width: 110px !important;
}

.MuiPagination-ul {
    position: absolute;
    right: 50px;
}
