.Menu {
    padding-top: 32px;
    display: flex;
    position: absolute;
    left: 350px;
}

.Home {
    padding-right: 60px !important;
}

.Home:hover {
    color: #3e8e41;
}

.My-Timeline:hover {
    color: #3e8e41;
}